{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" media="screen" href="{{ config.url_prefix }}/css/admin.css" />
{% endblock %}

{% block menu %}
<span id="adminlinks" class="leftseparator">
    <ul>
        <li {% ifequal handler_class "AdminHandler" %} class="current" {% endifequal %}>
        	<a href="{{config.url_prefix}}/admin/">Admin</a>
		</li>
        <li {% ifequal path "/admin/newpost" %} class="current" {% endifequal %}>
        	<a href="{{config.url_prefix}}/admin/newpost">New Post</a>
		</li>
        <li {% ifequal path "/admin/newpage" %} class="current" {% endifequal %}>
        	<a href="{{config.url_prefix}}/admin/newpage">New Page</a>
		</li>
    </ul>
</span>
{% endblock %}
