table#form, table#posts, table#pages {
   width: 100%;
}

table#posts, table#pages {
   font-size: 16px;
}

table#form input[type="text"], table#form textarea {
   width: 100%;
   font-size: 16px;
}

table#form textarea#message {
   height: 500px;
}

table#form td, table#form th, table#posts td, table#posts th, table#pages td, table#pages th {
   padding: 5px;
   vertical-align: center;
}

table td.published, table td.actions {
  white-space: nowrap;
}

table#form th {
   text-align: right;
   background-color: #f2f2f2;
   border-right: 5px #ccc solid;
   width: 25%;
   min-width: 25%;
}

table#form th.transparent {
   background-color: transparent;
}

table#form td {
   text-align: left;
   width: 75%;
   max-width: 75%;
}

table#form td ul.errorlist {
   color: red;
   float: right;
   list-style: none;
}

form input[type="submit"] {
   margin: 10px 0 10px;
}

table#posts td.published, table#posts td.actions, table#pages td.published, table#pages td.actions {
   text-align: center;
}

form select#gen_list {
   font-size: 80%;
}