.sans {
   font-family: 'Helvetica', sans-serif;
}

.serif {
   font-family: 'Palatino Linotype', 'Book Antiqua', 'Palatino', Georgia, 'Times New Roman', Times, serif;
}

.fancy {
   font-family: 'Baskerville', 'Times New Roman', 'Times', serif;
}

::-moz-selection{ background: #aaa; color:#fff; text-shadow: none; }
::selection { background:#aaa; color:#fff; text-shadow: none; } 
a:link { -webkit-tap-highlight-color: #aaa; }

html, body, h1, h2, h3, h4, h5 {
    font-family: 'Helvetica', sans-serif;
    font-weight: normal;
}

body, nav#topnavbar, footer#bottomfooter {
   /* Force a minimum width for the body AND for fixed elements */
   min-width: 1100px;
}

h1, h2, h3, h4, h5 {
	font-variant: small-caps;
    color: #611;
	text-shadow: 0px 1px 2px #888;
	margin: 20px 0;
}

h1 { font-size: 32px; }
h2 { font-size: 26px; }
h3 { font-size: 24px; }
h4 { font-size: 20px; }
h5 { font-size: 18px; }

a, a:link, a:visited {
   color: #aaa;
   text-decoration: none;
   -webkit-transition: all .15s ease-out;
   -moz-transition: all .15s ease-out;
   -o-transition: all .15s ease-out;
   transition: all .15s ease-out;
}

a:hover {
   color: #822;
}

p {
   margin-top: 10px;
   margin-bottom: 10px;
}

div#container {
   width: 720px;
   min-height: 800px;
   margin-left: auto;
   margin-right: auto;
}

div#main {
   font-size: 20px;
}

div#slogan {
   display: block;
   font-size: 16px;
   color: #ddd;
   font-style: italic;
}

/* --------------------------------- footer */
footer#bottomfooter {
   padding: 20px 0 35px;
   height: 80px;
   
   background: #822;
   background: linear-gradient(top, #822, #711);
   background: -moz-linear-gradient(top, #822 0%, #711 100%);
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#822), color-stop(100%,#711));
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#882222', endColorstr='#771111',GradientType=0 );
   
   box-shadow: inset 0 5px 20px #000;
   -o-box-shadow: inset 0 5px 20px #000;
   -webkit-box-shadow: inset 0 5px 20px #000;
   -moz-box-shadow: inset 0 5px 20px #000;
   color: white;
   font-size: 14px;
   line-height: 150%;
   text-align: center;
   text-shadow: 0 1px 2px #444;
}

footer#bottomfooter a, footer#bottomfooter a:link, footer#bottomfooter a:visited {
   color: #888;
}

footer#bottomfooter a:hover {
   color: #ccc;
}

footer#bottomfooter div#leftfoot {
   float: left;
   padding-left: 10px;
   text-align: left;
   width: 39%;
   height: 100%;
}

footer#bottomfooter div#rightfoot {
   float: right;
   padding-right: 10px;
   text-align: right;
   width: 59%;
   height: 100%;
   display: block;
}

footer#bottomfooter div#centerfoot {
   width: 100%;
   float: left;
   display: block;
}

footer#bottomfooter div#rightfoot div#slogan {
   font-size: 20px;
   display: block;
}

/* --------------------------------- div#centermessage */
div#centermessage {
   margin: 200px auto 0px auto;
   text-align: center;
   width: 600px;
}

div#centermessage h1 {
   font-weight: bold;
   font-family: 'Monaco', 'Courier New', 'Courier', monospace;
}

div#centermessage p {
   color: #ccc;
   font-size: 26px;
}
