.sans {
   font-family: 'Myriad Pro', 'Lucida Sans Unicode', 'Lucida Grande', 'Arial', 'Helvetica', sans-serif;
}

.serif {
   font-family: 'Palatino Linotype', 'Book Antiqua', 'Palatino', Georgia, Times, serif;
}

::-moz-selection{ background: #aaa; color:#fff; text-shadow: none; }
::selection { background:#aaa; color:#fff; text-shadow: none; } 
a:link { -webkit-tap-highlight-color: #aaa; }

html, body, h1, h2, h3, h4, h5 {
   font-family: 'Myriad Pro', 'Lucida Sans Unicode', 'Lucida Grande', 'Arial', 'Helvetica', sans-serif;
   font-weight: normal;
}

body, nav#topnavbar, footer#bottomfooter {
   /* Force a minimum width for the body AND for fixed elements */
   min-width: 1100px;
}

h1, h2, h3, h4, h5 { color: #611; text-shadow: 0px 1px 2px #888; margin: 20px 0; }

h1 { font-size: 32px; }
h2 { font-size: 26px; }
h3 { font-size: 24px; }
h4 { font-size: 20px; }
h5 { font-size: 18px; }

p {
   margin-top: 20px;
}

p:first-child {
   margin-top: 0;
}

div.img img, blockquote {
   background: #eee;
   background: linear-gradient(top, #ddd, #eee);
   background: -moz-linear-gradient(top, #ddd 0%, #eee 100%);
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ddd), color-stop(100%,#eee));
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#eeeeee',GradientType=0 );
   
   border-top: 1px solid #fff;
   border-left: 1px solid #ddd;
   border-right: 1px solid #ddd;
   border-bottom: 1px solid #ddd;
   
   border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   
   box-shadow: 0 0 5px #ddd;
   -o-box-shadow: 0 0 5px #ddd;
   -webkit-box-shadow: 0 0px 5px #ddd;
   -moz-box-shadow: 0 0 5px #ddd;
   
   text-shadow: 0 1px 0 #fff;
}

div.img img {
   padding: 10px;
   margin: 10px auto;
   display: block;
   clear: both;
   font-size: 110%;
}

blockquote {
   font-style: italic;
   padding: 10px 20px;
   margin: 10px 0;
}

div.linenodiv pre, div.highlight pre {
	font-size: 11px;
   margin: 10px 0;
   white-space: pre;
   font-family: 'Monaco', 'Courier New', 'Courier', monospace;
}

div.highlight pre {   
   background-color: #fafafa;
   
   border-top: 1px solid #fff;
   border-left: 1px solid #ddd;
   border-right: 1px solid #ddd;
   border-bottom: 1px solid #ddd;
   
   border-radius: 10px;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   
   box-shadow: 0 0 5px #ddd;
   -o-box-shadow: 0 0 5px #ddd;
   -webkit-box-shadow: 0 0px 5px #ddd;
   -moz-box-shadow: 0 0 5px #ddd;
   
   text-shadow: 0 1px 0 #fff;
}

a, a:link, a:visited {
   color: #aaa;
   text-decoration: none;
   -webkit-transition: color .15s ease-out;
   -moz-transition: color .15s ease-out;
   -o-transition: color .15s ease-out;
   transition: color .15s ease-out;
}

a:hover {
   color: #822;
}

div#container {
   width: 720px;
   min-height: 860px;
   margin-left: auto;
   margin-right: auto;
}

div#main {
   font-size: 20px;
}

div#slogan {
   display: block;
   font-size: 16px;
   color: #dddddd;
   font-style: italic;
}

/* --------------------------------- nav#topnavbar */
nav#topnavbar {
   background-color: #eee;
   height: 40px;
   font-size: 20px;
   box-shadow: 0 2px 7px #888;
   -o-box-shadow: 0 2px 7px #888;
   -webkit-box-shadow: 0 2px 7px #888;
   -moz-box-shadow: 0 2px 7px #888;
   text-shadow: 0 1px 0 #fff;
   z-index: 5;
}

nav#topnavbar img#feed {
   margin: 8px; padding: 0;
   width: 24px; height: 24px;
   float: left;
}

nav#topnavbar span#title {
   float: left;
   margin: 10px 0 10px 0;
   font-weight: bold;
}

nav#topnavbar span#internallinks {
   font-size: 16px;
   float: left;
   height: 40px;
   margin: 0 0 0 10px; padding: 0;
}

nav#topnavbar span#links {
   font-size: 16px;
   float: right;
   height: 40px;
   margin: 0; padding: 0;
}

nav#topnavbar span#internallinks ul, nav#topnavbar span#links ul {
   list-style-type: none;
   margin: 0; padding: 12px 0;
}

nav#topnavbar span#internallinks ul li, nav#topnavbar span#links ul li {
   display: inline;
   margin: 0 5px 0 5px;
}

nav#topnavbar span#internallinks ul > li:first-child {
   display: inline;
   margin-left: 10px;
}

nav#topnavbar span#links ul > li:first-child {
   display: inline;
   margin-right: 10px;
}

nav#topnavbar span#links ul > li:last-child {
   display: inline;
   margin-right: 10px;
}

nav#topnavbar span#searchbox {
   float: right;
   margin: 0; padding: 0;
   height: 40px; width: 210px;
   text-align: center;
}

nav#topnavbar span#searchbox input {
   height: 20px; width: 166px;
   padding-left: 24px; margin: 8px 4px;
   background: white url('/static/{{ config.theme }}/icons/search.png') no-repeat -1px -1px;
   border: 1px solid #ddd;
   font-size: 16px; line-height: 22px;
}

nav#topnavbar span.leftseparator {
   border-left: 1px solid #ddd;   
}

/* --------------------------------- div#bottomnavigation */
div#bottomnavigation {
   margin: 40px -50px 0 -50px;
   border-top: 1px solid #eee;
}

div#bottomnavigation span {
   font-size: 16px;
   height: 24px;
}

div#bottomnavigation span#olderlink {
   background: transparent url('/static/{{ config.theme }}/icons/back.png') center left no-repeat;
   padding: 10px 0 0 22px;
   float: left;
}

div#bottomnavigation span#newerlink {
   background: transparent url('/static/{{ config.theme }}/icons/forward.png') center right no-repeat;
   padding: 10px 22px 0 0;
   float: right;
}

/* --------------------------------- footer */
footer#bottomfooter {
   padding: 20px 0 35px;
   height: 80px;
   
   background: #822;
   background: linear-gradient(top, #822, #711);
   background: -moz-linear-gradient(top, #822 0%, #711 100%);
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#822), color-stop(100%,#711));
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#882222', endColorstr='#771111',GradientType=0 );
   
   box-shadow: inset 0 5px 20px #000;
   -o-box-shadow: inset 0 5px 20px #000;
   -webkit-box-shadow: inset 0 5px 20px #000;
   -moz-box-shadow: inset 0 5px 20px #000;
   color: white;
   font-size: 14px;
   line-height: 150%;
   text-align: center;
   text-shadow: 0 1px 2px #444;
}

footer#bottomfooter a, footer#bottomfooter a:link, footer#bottomfooter a:visited {
   color: #888;
}

footer#bottomfooter a:hover {
   color: #ccc;
}

footer#bottomfooter div#leftfoot {
   float: left;
   padding-left: 10px;
   text-align: left;
   width: 39%;
   height: 100%;
}

footer#bottomfooter div#rightfoot {
   float: right;
   padding-right: 10px;
   text-align: right;
   width: 59%;
   height: 100%;
   display: block;
}

footer#bottomfooter div#centerfoot {
   width: 100%;
   float: left;
   display: block;
}

footer#bottomfooter div#rightfoot div#slogan {
   font-size: 20px;
   display: block;
}

/* --------------------------------- article */
article header h1 { font-size: 38px; color: black; }
article header h1 a,
article header h1 a:link,
article header h1 a:visited,
article header h1 a:hover {
   color: black;
   text-decoration: none;
   border: none;
}

/* --------------------------------- div#centermessage */
div#centermessage {
   margin: 200px auto 0px auto;
   text-align: center;
   width: 600px;
}

div#centermessage h1 {
   font-weight: bold;
   font-family: "Monaco", monospace, sans-serif;
}

div#centermessage p {
   color: #ccc;
   font-size: 26px;
}
