/* --------------------------------- article.content */
article.content {
   margin: 20px 0 40px 0;
   background: transparent;
   color: black;
}

article.content section {
   margin: 30px 0;
   font-size: 18px;
   line-height: 160%;
}

article.content section ul.meta {
	float: left;
	margin: 0 10px 0 0;
}

article.content section:first-letter {
   font-family: 'Baskerville', 'Times New Roman', 'Times', serif; 
   font-size: 60px;
   float: left;
   line-height: 50px;
   text-transform: uppercase;
   padding: 0 3px 0 0;
   text-shadow: 0px 1px 2px #888;
}

/* --------------------------------- div#share_buttons */
div#share_buttons {
   display: block;
   height: 75px;
}

div#share_buttons > span {
   color: #ccc;
   clear: left;
   float: left;
   height: 72px;
   padding-top: 22px;
   font-size: 26px;
   font-style: italic;
}

div#share_buttons ul {
   float: right;
   clear: right;
   height: 72px;
   display: block;
}

div#share_buttons ul li {
   list-style: none;
   display: inline;
   margin-left: 30px;
}

div#share_buttons ul li a.google-buzz-button { display: inline; margin-left: -8px; }

div#share_buttons ul li a.google-buzz-button span.buzz-counter { padding: 8px 0 0 0; }

div#share_buttons ul li span.db-wrapper { height: 72px; }
