@font-face {
  font-family: 'UnifrakturMaguntia';
  font-style: normal;
  font-weight: normal;
  src: local('UnifrakturMaguntia'), url('http://themes.googleusercontent.com/font?kit=7KWy3ymCVR_xfAvvcIXm3-kdNg30GQauG_DE-tMYtWk') format('truetype');
}