/* --------------------------------- article.inpost */
article.inpost {
   margin: 20px 0 40px 0;
   background: transparent;
   color: black;
}

article.inpost header time, article.inpost header span, article.inpost footer span {
   color: #aaa;
   font-size: 14px;
}

article.inpost .lefticon {
   padding: 6px 0 0 22px;
   float: left;
}

article.inpost .righticon {
   padding: 6px 22px 0 0;
   float: right;
}

article.inpost header time {
   background: transparent url('/static/{{ config.theme }}/icons/clock.png') center left no-repeat;
}

article.inpost header span#tags {
   background: transparent url('/static/{{ config.theme }}/icons/tag.png') center right no-repeat;
   clear: both;
   text-align: right;
}

article.inpost header span#comments {
   background: transparent url('/static/{{ config.theme }}/icons/comments.png') center right no-repeat;
   text-align: right;
}

article.inpost section {
   margin: 30px 0;
   font-size: 18px;
   line-height: 160%;
}

article.inpost section:first-letter {
   font-family: 'UnifrakturMaguntia', 'Palatino Linotype', 'Book Antiqua', 'Palatino', serif;
   font-size: 60px;
   text-transform: uppercase;
   display: block;
   float: left;
   line-height: 60px;
   padding: 0 10px;
   text-shadow: 0px 1px 2px #888;
}

article.inpost section div.img {
   margin: 20px 0;
   text-align: center;
   font-size: 16px;
   color: #611;
   font-style: italic;
}

/* --------------------------------- div#share_buttons */
div#share_buttons {
   display: block;
   height: 75px;
}

div#share_buttons > span {
   color: #ccc;
   clear: left;
   float: left;
   height: 72px;
   padding-top: 22px;
   font-size: 26px;
   font-style: italic;
}

div#share_buttons ul {
   float: right;
   clear: right;
   height: 72px;
   display: block;
}

div#share_buttons ul li {
   list-style: none;
   display: inline;
   margin-left: 30px;
}

div#share_buttons ul li a.google-buzz-button { display: inline; margin-left: -8px; }

div#share_buttons ul li a.google-buzz-button span.buzz-counter { padding: 8px 0 0 0; }

div#share_buttons ul li span.db-wrapper { height: 72px; }
