/* --------------------------------- article.inpost */
article.inpost {
   margin: 20px 0 40px 0;
   background: transparent;
   color: black;
}

article.inpost h1 { font-size: 28px; }
article.inpost h2 { font-size: 24px; }
article.inpost h3 { font-size: 20px; }
article.inpost h4 { font-size: 16px; }
article.inpost h5 { font-size: 12px; }
article.inpost h1, article.inpost h2, article.inpost h3, article.inpost h4, article.inpost h5 { color: #611; }

article.inpost header h1 { font-size: 38px; text-shadow: 0px 1px 2px #888; color: black; }
article.inpost header h1 a,
article.inpost header h1 a:link,
article.inpost header h1 a:visited,
article.inpost header h1 a:hover {
   color: black;
   text-decoration: none;
   border: none;
}

article.inpost header time, article.inpost header span, article.inpost footer span {
   color: #aaa;
   font-size: 18px;
   height: 24px;
}

article.inpost .lefticon {
   padding: 6px 0 0 22px;
   float: left;
}

article.inpost .righticon {
   padding: 6px 22px 0 0;
   float: right;
}

article.inpost header time {
   background: transparent url('/static/{{ config.theme }}/icons/clock.png') center left no-repeat;
}

article.inpost header span#tags {
   background: transparent url('/static/{{ config.theme }}/icons/tag.png') 4px right no-repeat;
   height: auto;
   padding-top: 3px
}

article.inpost header span#comments {
   background: transparent url('/static/{{ config.theme }}/icons/comments.png') center right no-repeat;
}

article.inpost section {
   margin: 20px 0;
   font-size: 20px;
   line-height: 160%;
}

article.inpost section p {
   margin-top: 20px;
}

article.inpost section div.img {
   margin: 20px 0;
   text-align: center;
   font-size: 16px;
   color: #611;
   font-style: italic;
}

article.inpost section div.img img {
   padding: 10px;
   background-color: #f2f2f2;
   border: 1px solid #e2e2e2;
   margin: 10px auto;
   display: block;
   clear: both;
   
   border-radius: 4px;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   
   box-shadow: 0 0 5px #ddd;
   -o-box-shadow: 0 0 5px #ddd;
   -webkit-box-shadow: 0 0px 5px #ddd;
   -moz-box-shadow: 0 0 5px #ddd;
}

div#share_buttons {
   
}

div#share_buttons ul {
   display: inline;
}

div#share_buttons ul li {
   list-style: none;
   display: inline;
}